footer {
  width: 100%;
  bottom: 0;
  z-index: 99;
  position: fixed;
  text-align: center;
  padding: 0.3em 0 0.3em;
  background-color: #cbfffe;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}