.room {
	padding: 10px;
}

.room h2 {
	margin-bottom: 20px;
}
.roomCard {
	border-radius: 5px;
	padding: 15px;
	margin: 15px 0 15px;
	background-color: #f9f9f9;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	width: fit-content;
}